@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(//fonts.googleapis.com/css?family=Nixie+One);

body,
h2.archive,
.site_tagline {
	font-family: 'Open Sans', sans-serif;
}

label,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
h1,h2,h3,h4,h5,h6,
button, .button,
footer,
ol.meta li,
article header h2 {
	font-family: 'Nixie One', Georgia, serif;
	/* nixie only has one weight. force it to 400 to prevent rendering probs */
	font-weight:400 !important;
}